<section>
    <h3>Agendamentos</h3>

    <table class="table table-hover table-striped table-dark" *ngIf="schedules$ | async as schedules">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CLIENTE</th>
                <th scope="col">INÍCIO</th>
                <th scope="col">TÉRMINO</th>
                <th scope="col">BARBEIRO</th>
                <th scope="col">SERVIÇOS</th>
                <th scope="col">ATIVO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let schedule of schedules.content">
                <th scope="row">{{ schedule.id }}</th>
                <td>{{ schedule.customer.name }}</td>
                <td>{{ schedule.initialTime | date:'HH:mm - dd/MM/yy' }}</td>
                <td>{{ schedule.endTime | date:'HH:mm - dd/MM/yy' }}</td>
                <td>{{ schedule.barber.name }}</td>
                <td>{{ schedule.services }}</td>
                <td>{{ schedule.isActive ? 'SIM' : 'NÃO' }}</td>
            </tr>
        </tbody>
    </table>
</section>