.my-input {
    &__wrapper {
        margin-bottom: 1rem;

        .show {
            display: block !important;
        }

        input::placeholder {
            color: var(--bs-gray-500);
        }
    }
}