<section>
    <my-container>
        <h3>Marque seu horário</h3>
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <my-input label="Nome" placeholder="Informe seu nome" inputType="text"
                        error="Informe seu nome"></my-input>
                </div>
                <div class="form-group col-md-4">
                    <my-input label="Email" placeholder="emailexamplo@exemplo.com" type="email"
                        error="Informe seu email"></my-input>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <my-select [options]="['12:00', '14:30', '15:00']" label="Horário" placeholder="Selecione o horário"
                        error="Selecione um horário"></my-select>
                </div>
                <div class="form-group col-md-4">
                    <my-select [options]="['Babeiro 1', 'Babeiro 2', 'Barbeiro 3']" label="Barbeiro"
                        placeholder="Selecione o Barbeiro" error="Selecione um barbeiro"></my-select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <my-select [options]="['Cabelo', 'Barba', 'Sobrancelha']" label="Serviços"
                    placeholder="Selecione os Serviços" error="Selecione pelo menos um serviço"></my-select>
            </div>
            <div class="d-flex justify-content-end action-buttons">
                <button type="button" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-primary">Marcar</button>
            </div>
        </form>
    </my-container>
</section>